Software Implementation/Node-Red Dashboard.json
[
    {
        "id": "9825727f6d477a0f",
        "type": "tab",
        "label": "GPS Tracker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "496682f289842ef4",
        "type": "mqtt in",
        "z": "9825727f6d477a0f",
        "name": "",
        "topic": "200023C_LATITUDE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3211b65328dc6a82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "b2f27e202cc23725"
            ]
        ]
    },
    {
        "id": "10052c42ec48db13",
        "type": "mqtt in",
        "z": "9825727f6d477a0f",
        "name": "",
        "topic": "200023C_LONGITUDE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3211b65328dc6a82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "c396527084b94368"
            ]
        ]
    },
    {
        "id": "d80f04adbb1f18c2",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "3679d6d8314b51e8",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "851736b48cfc71d0",
        "type": "ui_text_input",
        "z": "9825727f6d477a0f",
        "name": "",
        "label": "Enter SOS Number :",
        "tooltip": "Enter Phone Number with the Country Code",
        "group": "1fdce47bb9e7e82c",
        "order": 2,
        "width": 12,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "f9c611d02849ddb7",
                "0aaa3b70fc50d19f"
            ]
        ]
    },
    {
        "id": "b2f27e202cc23725",
        "type": "function",
        "z": "9825727f6d477a0f",
        "name": "function 4",
        "func": "flow.set(\"latitude\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "d80f04adbb1f18c2"
            ]
        ]
    },
    {
        "id": "c396527084b94368",
        "type": "function",
        "z": "9825727f6d477a0f",
        "name": "function 5",
        "func": "flow.set(\"longitude\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "3679d6d8314b51e8"
            ]
        ]
    },
    {
        "id": "57f30c1a224e3cb0",
        "type": "mqtt in",
        "z": "9825727f6d477a0f",
        "name": "",
        "topic": "200023C_VELOCITY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3211b65328dc6a82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "a69b82f2c82ae157"
            ]
        ]
    },
    {
        "id": "953d958c682f2a83",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "a69b82f2c82ae157",
        "type": "function",
        "z": "9825727f6d477a0f",
        "name": "function 9",
        "func": "flow.set(\"velocity\",msg.payload);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "abdbc468e6a1c541",
                "e108f6c0c331d724"
            ]
        ]
    },
    {
        "id": "abdbc468e6a1c541",
        "type": "ui_gauge",
        "z": "9825727f6d477a0f",
        "name": "",
        "group": "1fdce47bb9e7e82c",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Speed",
        "label": "km/h ",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "e108f6c0c331d724",
        "type": "ui_chart",
        "z": "9825727f6d477a0f",
        "name": "",
        "group": "1fdce47bb9e7e82c",
        "order": 5,
        "width": 12,
        "height": 4,
        "label": "Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "398b28a3549b7c1b",
        "type": "ui_toast",
        "z": "9825727f6d477a0f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "0aaa3b70fc50d19f",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "f9c611d02849ddb7",
        "type": "function",
        "z": "9825727f6d477a0f",
        "name": "function 10",
        "func": "if ((msg.payload.length != 12) || (msg.payload.slice(0,3) != \"+94\")) {\n    return { payload: \"Please Enter Valid Phone Number\" };\n}\nreturn {payload: msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 660,
        "wires": [
            [
                "109bfddbe98848d4"
            ]
        ]
    },
    {
        "id": "109bfddbe98848d4",
        "type": "switch",
        "z": "9825727f6d477a0f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Please Enter Valid Phone Number",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 740,
        "wires": [
            [
                "398b28a3549b7c1b",
                "e1d48f8883617559"
            ],
            [
                "6af3fba7c6fe9249",
                "564eb63b9e5e1fed"
            ]
        ]
    },
    {
        "id": "e1d48f8883617559",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "6af3fba7c6fe9249",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 860,
        "wires": []
    },
    {
        "id": "a9bf49ae1388b3f2",
        "type": "function",
        "z": "9825727f6d477a0f",
        "name": "function 11",
        "func": "msg.payload = {\n    \"name\" : \"Tracker map\",\n    \"lat\" : flow.get(\"latitude\"),\n    \"lon\" : flow.get(\"longitude\"),\n    \"iconColor\" : \"red\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "c5a8b4a4e8584acf",
                "ccea6746e655c64b"
            ]
        ]
    },
    {
        "id": "fa6f042017acea9c",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "4d0b2c3756787c78",
        "type": "inject",
        "z": "9825727f6d477a0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Tracker map\"}",
        "payloadType": "json",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "a9bf49ae1388b3f2"
            ]
        ]
    },
    {
        "id": "c5a8b4a4e8584acf",
        "type": "worldmap",
        "z": "9825727f6d477a0f",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,NatGeo",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "ce976b0ea46c316c",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "ccea6746e655c64b",
        "type": "ui_worldmap",
        "z": "9825727f6d477a0f",
        "group": "bd76a47a08de8acc",
        "order": 1,
        "width": 12,
        "height": 14,
        "name": "",
        "lat": "7.8731",
        "lon": "80.7718",
        "zoom": "8",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "600",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,NatGeo",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "05876c3451c55328",
        "type": "mqtt in",
        "z": "9825727f6d477a0f",
        "name": "",
        "topic": "200023C_SOSNUM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3211b65328dc6a82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "0894f454116064f4"
            ]
        ]
    },
    {
        "id": "1d8b674d0d052940",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0894f454116064f4",
        "type": "ui_text",
        "z": "9825727f6d477a0f",
        "group": "1fdce47bb9e7e82c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current SOS Number : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 1100,
        "wires": []
    },
    {
        "id": "564eb63b9e5e1fed",
        "type": "mqtt out",
        "z": "9825727f6d477a0f",
        "name": "",
        "topic": "200023C_SOS_SET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3211b65328dc6a82",
        "x": 540,
        "y": 920,
        "wires": []
    },
    {
        "id": "9e4e963773ef8419",
        "type": "mqtt in",
        "z": "9825727f6d477a0f",
        "name": "",
        "topic": "200023C_ALTITUDE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3211b65328dc6a82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "5450bd5d39fe03c6"
            ]
        ]
    },
    {
        "id": "dcaf8943879a3b50",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "5450bd5d39fe03c6",
        "type": "function",
        "z": "9825727f6d477a0f",
        "name": "function 12",
        "func": "flow.set(\"altitude\",msg.payload);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "66b32db09d9e361c",
                "196a0568fda0ee56"
            ]
        ]
    },
    {
        "id": "66b32db09d9e361c",
        "type": "ui_gauge",
        "z": "9825727f6d477a0f",
        "name": "",
        "group": "1fdce47bb9e7e82c",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Altitude",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "196a0568fda0ee56",
        "type": "ui_chart",
        "z": "9825727f6d477a0f",
        "name": "",
        "group": "1fdce47bb9e7e82c",
        "order": 5,
        "width": 12,
        "height": 4,
        "label": "Altitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b3955c0f3bee21ce",
        "type": "mqtt in",
        "z": "9825727f6d477a0f",
        "name": "",
        "topic": "200023C_SOSALERT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3211b65328dc6a82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1220,
        "wires": [
            [
                "2cfc93e151ec8b10",
                "a5e75a5d3c7d89c2"
            ]
        ]
    },
    {
        "id": "2cfc93e151ec8b10",
        "type": "ui_toast",
        "z": "9825727f6d477a0f",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "ALERT",
        "name": "ALERT",
        "x": 500,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a5e75a5d3c7d89c2",
        "type": "debug",
        "z": "9825727f6d477a0f",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3211b65328dc6a82",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1fdce47bb9e7e82c",
        "type": "ui_group",
        "name": "SOS Number",
        "tab": "99355982a366f98f",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd76a47a08de8acc",
        "type": "ui_group",
        "name": "Location",
        "tab": "99355982a366f98f",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "99355982a366f98f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
